<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style>
        body {
            font-family:  "MS Sans Serif";
            background-color: #ffffff;
            padding: 20px;
        }

        .container {
            background-color: #F0EEED;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            margin: 0 auto;
            margin-top: 3rem;
        }

        h1 {
            color: #000000;
            font-size: 28px;
            margin-top: 0;
        }

        p {
            color: #000000;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 5px;
        }

        .button {
            background-color: #0d12fc;
            color: #ffffff;
            display: inline-block;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            font-size: 16px;
            margin-top: 20px;
        }

        .button:hover {
            background-color: #0d12fc;
        }
        .footer {
            margin-top: 30px;
            text-align: center;
        }

        .footer p {
            color: #000000;
            font-size: 14px;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }
        .otp {
            font-size: 28px;
            font-weight: 700;
            color: #0d12fc;
            margin-bottom: 15px;
        }
        .details {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <img style="margin-bottom: 1rem;" src="https://www.linkpicture.com/q/logo_306.png" class="center" alt="eazybus logo">
        <h1 style="font-weight: bold;">Cancellation Details</h1>
        <p>Dear <strong><%= name %></strong>,</p>
        <p>This is to inform you that your bus booking from <strong><%= source %> to <%= destination %></strong> has been cancelled!</p>
        <div class="details">
            <p><span class="bold">Booking ID:</span> <%= bookingID %></p>
            <p><span class="bold">Date of Journey:</span> <%= journeyDate %></p>
            <p><span class="bold">Approx Refund:</span> &#8377;<%= refund %></p>
            <% const str = paymentMethod; %>
            <% const str2 = str.charAt(0).toUpperCase() + str.slice(1); %>
            <p><span class="bold">Payment Method:</span> <%= str2 %></p>
        </div>
        <p style="font-weight: bold; color: green;">Refund for your booking has been initiated.</p>
        <p>If you have any questions or need further assistance, please don't hesitate to contact our customer support team.</p>
        <p>Thank you for choosing EazyBus, and we hope to serve you again in the future.</p>
        <p>Regards,<br>Team EazyBus</p>
        <a style="color: #ffffff;" href="https://eazybus-production.up.railway.app/bookings" class="button">Manage Bookings</a>
    </div>
</body>

</html>